@font-face {
  font-family: 'Graphik';
  src: url('/fonts/Graphik-Regular-Web.woff2') format('woff2'),
       url('/fonts/Graphik-Regular-Web.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Folito';
  src: url('/fonts/Folito-Bold.woff2') format('woff2'),
       url('/fonts/Folito-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

html {
  font-size: var(--base-font-size);
}

body {
  font-family: 'Graphik', system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: 400;
  font-size: 1.83333rem;
  line-height: 1.444444;
}

p {
	margin: 0;
}

.h1, .h2, .h3, .h4,
h1, h2, h3, h4 {
  margin: 0;
  font-family: 'Folito', sans-serif;
}

.h1,
h1 {
  font-size: 6.5rem;
  font-weight: bold;
  line-height: 1.13;
}

.h2,
h2 {
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.1666;
}

.h3,
h3 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.222;
}

.h4,
h4 {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.333333;
  color: var(--color-grey);
}

.btn,
button {
  font-family: 'Folito', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.555555;
}

.fs-large {
  font-size: 2.333333rem;
  line-height: 1.714;
}

.fs-small {
  font-size: 1.5rem;
  line-height: 1.555555;
}

ul { 
  list-style-type: disc; 
  padding: 0;
  margin: 0 0 0 1.5rem;
}

ol { 
  list-style-type: decimal; 
  padding: 0;
  margin: 0 0 0 1.5rem;
}

li {
  padding: 0;
  margin: 0;
}


@media screen and (max-width: 1140px) {
  h2, .h2 { font-size: 3rem; }
}

@media screen and (max-width: 768px) {
  body { font-size: 1.666666rem; }
  h1, .h1 { font-size: 4.5rem; letter-spacing: -0.5px; }
  h2, .h2 { font-size: 3rem; }
  h3, .h3 { font-size: 3rem; line-height: 1.2; }
}

@media screen and (max-width: 640px) {
  body { font-size: 1.5rem; }
  h1, .h1 { font-size: 3.666666rem; letter-spacing: -0.5px; }
  h2, .h2 { font-size: 2.5rem; }
  h3, .h3 { font-size: 2.5rem; line-height: 1.2; }
  .fs-small, .mbp-fs-small { font-size: 1.333333rem; }
  .fs-large { font-size: 2.166667rem; line-height: 1.3846153846; }
}

@media screen and (max-width: 320px) {
  h2, .h2 { font-size: 2rem; }
}
