.text-center {
	text-align: center;
}

.space-bottom {
	margin-bottom: var(--space);
}

.content-center {
	margin-left: auto;
  margin-right: auto;
  max-width: var(--grid-container-width);
}

.gradient-text {
	background: var(--gradient-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.light-text {
  color: var(--alt-color);
}