// Default variables
html {
	--base-font-size: 12px;
}

// Light default theme
body {
	--color-white: #FFFFFF;
	--color-offwhite: #F9F9F9;
	--color-lightgrey: #D2D2D2;
	--color-grey: #707070;
	--color-darkgrey: #292929;
	--color-black: #000000;
	--color-celeste: #1ABCAE;
	--color-moody-blue: #646DD4;
	--color-blue: #4965C8;
 	--color-purple: #9F23F5;
	--gradient-primary: linear-gradient(135deg, #1ABCAE, #9F23F5);
  --space: 2rem;
  --content-width: 860px;
  --header-height: 9.666666rem;
	--radius: 4px;
	
	--grid-container-width: 1140px; // 1170 - gutter
	--grid-columns: 12;
	--grid-width: 68px;
	--grid-gutter: 30px;
}

@media screen and (max-width: 768px) {
	body {
		--grid-columns: 8;
		--grid-width: 63px;
		--grid-gutter: 24px;
		--grid-container-width: 640px;
	}
}

@media screen and (max-width: 640px) {
	body {
		--grid-columns: 6;
		--grid-width: 44px;
		--grid-gutter: 13px;
		--grid-container-width: 327px;
		--header-height: 6.666666rem;
	}
}


// Override variables for Dark theme
// body[data-theme="dark"] {
// }