// Default variables
html {
	--base-font-size: 12px;
}

// Light default theme
body {
	--color-celeste: #1ABCAE;
	--color-moody-blue: #646DD4;
	--gradient-primary: linear-gradient(135deg, #1ABCAE, #9F23F5);
 	--bg-color: #FFFFFF;
 	--bg-content-color: #F9F9F9;
 	--bg-code: #fffbf3;
	--bg-footer: #4965C8;
	--body-color: #292929;
	--alt-color: #707070;
	--title-color: #000000;
 	--link-color: #9F23F5;
 	--border-color:  rgba(0,0,0,.1);;
  --space: 2rem;
  --content-width: 860px;
  --header-height: 80px;
	--radius: 4px;
	
	--grid-container-width: 1170px;
	--grid-columns: 12;
	--grid-width: 68px;
	--grid-gutter: 30px;
}

@media screen and (max-width: 960px) {
	body {
		--grid-columns: 8;
		--grid-width: 63px;
		--grid-gutter: 24px;
		}
}

@media screen and (max-width: 640px) {
	body {
		--grid-columns: 6;
		--grid-width: 44px;
		--grid-gutter: 13px;
		}
}


// Override variables for Dark theme
// body[data-theme="dark"] {
//  	--bg-color: #0D2538;
//  	--bg-content-color: #0f2d44;
//  	--bg-code: rgba(0,0,0,.3);
//  	--border-color:  rgba(255,255,255,.1);;
//  	--body-color: #ced8de;
//  	--title-color: #fff;
//  	--link-color: #af9cef;
// }